.message {
  background-color: rgb(190, 255, 215);
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(20, 160, 80);
  font-size: 20px;
  color: rgb(5, 120, 55);
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  background-color: rgb(255, 190, 215);
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(160, 20, 80);
  font-size: 20px;
  color: rgb(120, 5, 55);
  padding: 10px;
  margin-bottom: 10px;
}
